<!DOCTYPE html>
<html lang="en">

{% include 'default/header.html' %}

<body class="dark-mode with-custom-webkit-scrollbars with-custom-css-scrollbars" data-dm-shortcut-enabled="true">

    <!-- Page wrapper start -->
    <div id="page-wrapper" class="page-wrapper">

        <!-- Sticky alerts -->
        <div class="sticky-alerts"></div>

        <!-- Content wrapper start -->
        {% block content %} {% endblock %}
        <!-- Content wrapper end -->

    </div>
    <!-- Page wrapper end -->

    <!-- Halfmoon JS -->
    <script src="{{ url_for('static', filename='js/halfmoon.min.js') }}"></script>
    {% block scripts %} {% endblock %}
</body>

</html>