<table class="mt-15">
    <tr>
        <td>
            <div class="w-50 h-50 rounded-circle bg-light-lm bg-dark-dm d-flex align-items-center justify-content-center">
                <span class="font-weight-bold">MB</span>
            </div>
        </td>
        <td class="pl-10">
            <h3 class="content-title font-size-18 m-0">
                Marcos bomfim (mh4x0f)
            </h3>
            <div class="text-muted mt-0">
                <p class="m-0">
                    <a class="hyperlink mr-10" href="{{config.get('LINK_TWITTER')}}" target="_blank" rel="noopener"> <i class="fab fa-twitter-square"></i> Twitter</a>
                    <a class="hyperlink" href="{{config.get('LINK_GITHUB')}}" target="_blank" rel="noopener"> <i class="fab fa-github-square"></i> Github</a>
                </p>
            </div>
        </td>
    </tr>
</table>