<input type="hidden" id="selected_id" value=""> {% if locations %}

<ul class="location_list">
    {% for location in locations %}
    <li>
        <a href="#" id="{{location.id}}" class="card sponsor-section-card mw-full m-0 p-0 d-flex list_ul" rel="noopener">
            <div class="flex-grow-1 d-flex align-items-center">
                <div class="p-10 w-full m-auto">
                    <p class="m-0 font-weight-medium text-dark-lm text-light-dm">
                        {{ location.date.strftime('%d/%m/%Y, %H:%M %p ') }} <i class="fa fa-angle-right ml-5" aria-hidden="true"></i>
                    </p>
                    <p class="m-0 mt-5 text-muted font-size-12 address">
                        {{ location.address if location.address else "Unknown" }}
                    </p>
                </div>
            </div>
            <input type="hidden" id="l_latitude_{{location.id}}" value="{{ location.latitude }}">
            <input type="hidden" id="l_longitude_{{location.id}}" value="{{ location.longitude }}">
            <input type="hidden" id="l_address_{{location.id}}" value="{{ location.address }}">
        </a>
    </li>
    {% endfor %}
</ul>
{% else %}
<p class="m-0 mt-5 text-muted font-size-18"> No locations found</p>
{% endif %}